
/* APLICANDO GRID */






/*INDEX*/
body{
    margin: 0;
    padding: 25px 25px;
    background-color: white;
}

.contenedorA {
    display: grid;
    grid-template-columns: 1fr 1fr 500px;
    grid-template-rows: 300px 125px 900px 600px 400px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "sectionA sectionA aside"
    "sectionB sectionB aside"
    "footer footer footer";
}

.contenedorB {
    display: grid;                                  /* ACTIVADOR */
    grid-template-columns: 1fr 1fr;                 /* DIVISION DE LAS COLUMNAS */
    grid-template-rows: 300px 125px 400px 400px 400px 400px;             /* ALTURA DE LA CELDA */
    grid-template-areas: 
    "header header"
    "nav nav"
    "sectionAb sectionAb"
    "sectionBb sectionBb"
    "sectionCb sectionCb"
    "sectionDb sectionDb"
    "footer footer";
}

.contenedorC {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 125px 1200px 400px;
    grid-template-areas: 
    "header"
    "nav"
    "sectionAc"
    "footer";
}

.contenedorD{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 300px 125px 1200px 400px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "sectionAd media"
    "footer footer";
}

header {
    background-color: rgb(255, 255, 255);
    grid-area: header;
    display: flex;
    justify-content:space-evenly;
}

.tittle{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    letter-spacing: 6px;
    word-spacing: 15px;
}

h1:hover{
    transform: scale(150%);
    transition: all 1s;
}

.header{
    display: flex;
    align-items: center;
}

nav {
    grid-area: nav; 
    background-image: url(/Multimedia/img/Solano/DSC_0218.jpg);
    position: sticky;
    top: 0px;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding: 2rem 2rem;
    letter-spacing: 2px;
}

.navbott{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size:2rem;
    font-weight: bold;
    color: white;
    list-style-type: none;
}

/* INDEX */
.sectionA{
    background-color: rgb(255, 255, 255);
    grid-area: sectionA;
    border: 1rem solid rgb(254, 245, 219);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.sectionA h2{
    display: flex;
    justify-content: flex-start;
}

.carrousel{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parrafo-claro{
    color: rgb(0, 0, 0);
}


.img{
    padding: 2rem 2rem;
}

.sectionB{
    background-color: white;
    grid-area: sectionB;
    border: 1rem solid rgb(254, 245, 219);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

aside{
    padding: 1rem 1rem;
    background-color: rgb(255, 255, 255);
    grid-area: aside; 
    border: 1rem solid rgb(254, 245, 219);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* PRODUCTOS */

.sectionAb{grid-area: sectionAb;
    background-color: rgb(255, 255, 255);
    border: 1rem solid rgb(254, 245, 219);
    display: flex;
    justify-content: space-around;
}


.sectionBb{grid-area: sectionBb;
    background-color: rgb(255, 255, 255);
    border: 1rem solid rgb(254, 245, 219);
    display: flex;
    justify-content: space-around;
}

.sectionCb{grid-area: sectionCb;
    background-color: rgb(255, 255, 255);
    border: 1rem solid rgb(254, 245, 219);
    display: flex;
    justify-content: space-around;
}

.sectionDb{grid-area: sectionDb;
    background-color: rgb(255, 255, 255);
    border: 1rem solid rgb(254, 245, 219);
    display: flex;
    justify-content: space-around;
}


section h3{
    font-size: 2rem;
}


h2{
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    grid-area: footer;
    background-image: url(/Multimedia/img/Solano/DSC_0218.jpg);
}

footer h4{
    padding: 2rem 0 0 2rem;
    display: flex;
    justify-content:start;
    font-size: 2rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 2px;
}
.contacto-container{
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
}

.nav-contact{
    font-size: 3rem;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.h3cat{
    padding: 1rem 0 0 1rem;
    display: flex;
    justify-content:start;
    font-size: 2rem;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 2px;
}

/* SOBRE NOSOTROS */

.sectionAc{grid-area: sectionAc;
    text-align: center;
    padding: 100px 100px;
    border: 3px solid black;
    border-radius: 20%;
    margin: 100px;
    background-color: rgb(254, 245, 219);
}

.bio{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    word-spacing: 5px;
    line-height: 1.5;
}

.sectionAc:hover{
    background-image: url(/Multimedia/img/Solano/DSC_0252.jpg);
    background-position:center;
    color: white;
    transform: scale(107%);
    transition: all 1s;
}

/* COMO TRABAJAMOS */


.sectionAd{
    grid-area: sectionAd;
    
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.media{
    grid-area: media;
    padding: 80px 50px;
    display: flex;
    flex-direction: column;

}

.med{
    display: flex;
    justify-content: center;
}

.hyp{
    color: black;
}

.pie{
    width: 700px;
    text-align: center;
}

.ctparra{padding: 5px;
    border: 1px solid black;
    background-color: rgb(255, 250, 234);
}

.ctparra:hover{
    background-image: url(/Multimedia/img/Solano/DSC_0251.jpg);
    background-position: center;
    color: wheat;
    font-weight: bold;
    transform: scale(110%);
    transition: all 3s;
}